# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# PyInstaller
build/
dist/
*.spec

# IDEs
.idea/
.vscode/

# Config / Logs
*.conf
*.ini
*.log

# Temporary files
*.tmp
*~
.DS_Store
